{% extends 'app/layout.html' %}

{% block body %}
    <h1>{{ user.username }}</h1>
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>{{ profile.bio }}</p>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
        <li>Gender: {{ profile.gender }}</li>
        <li>DOB: {{ profile.dob }}</li>
    </ul>
    <h2>Your Tweets</h2>
    <ul>
        <li><a href="{% url 'follower_users' %}">Followers: {{ followers_count }}</a></li>
        <li><a href="{% url 'following_users' %}">Following: {{ following_count }}</a></li>
    </ul>
    <ul>
        {% for tweet in tweets %}
            <li>
                {% if tweet.image %}
                    <img src="{{ tweet.image.url }}" alt="{{ tweet.tweet }}" style="max-width: 200px;">
                {% endif %}
                <p>{{ tweet.tweet }}</p>
                <form action="{% url 'delete_post' tweet.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
                <p>{{tweet.date_time}}</p>
            </li>
        {% empty %}
            <li>No Tweets</li>
        {% endfor %}
    </ul>
    <a href="{% url 'edit_profile' %}">Edit profile</a>
    <a href="{% url 'post_tweet' %}">Post a new tweet</a>
{% endblock %}
